<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Game Shop</h1>

    <div class="search-bar" id="cake">
      <div class="input-group">
      <span class="input-group-btn" >
        <button type="button" id="btnDropdown" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Consoles</a></li>
            <li><a href="#">Games</a></li>
            <li><a href="#">Accessories</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Anything</a></li>
          </ul>
        </span>
      <input type="search" class="input-sm form-control" placeholder="Search">
    </div>
    <br/>
      </div>
      <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Search</button>
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
  </div>
</div>

<div class="container">
  <div class="row">
   <div class="col-md-4">
     <div class="thumbnail categ">
       <a href="../witcher_3.jpg">
         <img src="../img/consoles.jpg" alt="Consoles">
         <div class="caption">
           <p>Consoles</p>
         </div>
       </a>
     </div>
   </div>
   <div class="col-md-4">
     <div class="thumbnail categ">
       <a href="../witcher_3.jpg">
         <img src="../img/witcher_3.jpg" alt="Games">
         <div class="caption">
           <p>Games</p>
         </div>
       </a>
     </div>
   </div>
   <div class="col-md-4">
     <div class="thumbnail categ">
       <a href="../witcher_3.jpg">
         <img src="../img/accessories.jpg" alt="Accessories">
         <div class="caption">
           <p>Accessories</p>
         </div>
       </a>
     </div>
   </div>
 </div>
<hr>

<div class="container">
  <div class="row">
      <div class="col-sm-3" ng-repeat="product in products">
        <div class="thumbnail game" >
          <!-- <img src="http://placehold.it/300x200"> -->
          <a href="#productModal{{product._id}}" class="store-link" data-toggle="modal">
          <img src="{{product.picture}}" class="img-product-home">
        </a>
          <div class="caption">
            <h3>{{product.title}}</h3>
            <p>{{product.description}}</p>
            <p><strong>${{product.price}}</strong></p>
            <p>
              <a href="#" class="btn btn-primary" role="button">Add to cart</a>
              <a href="#productModal{{product._id}}" class="btn btn-default" data-toggle="modal" role="button">Details</a>
            </p>
          </div>
        </div>
        <div class="modal-form modal fade" id="productModal{{product._id}}" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2 class="product-name">{{product.title}}</h2>
                                    <p>One of the best game of the year !</p>
                                    <img src="{{product.picture}}" alt="" class="img-product">
                                    <p>
                                    <li>{{product.description}}</li>
                                    </p>
                                    <p>Quantity : {{product.quantity}}</p>
                                    <h3>Price : {{product.price}}$</h3><br>
                                    <button type="button" class="btn btn-success" data-dismiss="modal"><i></i>Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>

</div>
</div>
