<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Game Shop</h1>

    <div class="search-bar" id="cake">
      <div class="input-group">
      <span class="input-group-btn" >
        <button type="button" id="btnDropdown" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Rand
              om</a></li>
            <li><a href="#">Another random</a></li>
            <li><a href="#">Also random</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Random link</a></li>
          </ul>
        </span>
      <input type="search" class="input-sm form-control" placeholder="Recherche">
    </div>
    <br/>
      </div>
      <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Chercher</button>
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
  </div>
</div>

<div class="container">
  <div class="row">
   <div class="col-md-4">
     <div class="thumbnail categ">
       <a href="../witcher_3.jpg">
         <img src="../img/consoles.jpg" alt="Consoles">
         <div class="caption">
           <p>Consoles</p>
         </div>
       </a>
     </div>
   </div>
   <div class="col-md-4">
     <div class="thumbnail categ">
       <a href="../witcher_3.jpg">
         <img src="../img/witcher_3.jpg" alt="Games">
         <div class="caption">
           <p>Games</p>
         </div>
       </a>
     </div>
   </div>
   <div class="col-md-4">
     <div class="thumbnail categ">
       <a href="../witcher_3.jpg">
         <img src="../img/accessories.jpg" alt="Accessories">
         <div class="caption">
           <p>Accessories</p>
         </div>
       </a>
     </div>
   </div>
 </div>
<hr>

<div class="container">
  <div class="row">
      <div class="col-sm-3">
        <div class="thumbnail game">
          <!-- <img src="http://placehold.it/300x200"> -->
          <img src="../img/PC/overwatch_pc.jpg">
          <div class="caption">
            <h3>Overwatch</h3>
            <p>Super jeu de ouf</p>
            <p><strong>$60</strong></p>
            <p>
              <a href="#" class="btn btn-primary" role="button">Add to cart</a>
              <a href="/product_details/{{product._id}}" class="btn btn-default" role="button">Details</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="thumbnail game">
          <!-- <img src="http://placehold.it/300x200"> -->
          <img src="../img/PC/witcher_pc_test.jpg">
          <div class="caption">
            <h3>The Witcher 3</h3>
            <p>Super jeu de ouf</p>
            <p><strong>$30</strong></p>
            <p>
              <a href="#" class="btn btn-primary" role="button">Add to cart</a>
              <a href="/product_details/{{product._id}}" class="btn btn-default" role="button">Details</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="thumbnail game">
          <!-- <img src="http://placehold.it/300x200"> -->
          <img src="../img/PS4/titanfall2_ps4.jpg">
          <div class="caption">
            <h3>Titanfall 2</h3>
            <p>Connais pas</p>
            <p><strong>$70</strong></p>
            <p>
              <a href="#" class="btn btn-primary" role="button">Add to cart</a>
              <a href="/product_details/{{product._id}}" class="btn btn-default" role="button">Details</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail game">
          <!-- <img src="http://placehold.it/300x200"> -->
          <img src="../img/XO/skyrim_xo.jpg">
          <div class="caption">
            <h3>Skyrim</h3>
            <p>Waaaa dragooon</p>
            <p><strong>$60</strong></p>
            <p>
              <a href="#" class="btn btn-primary" role="button">Add to cart</a>
              <a href="/product_details/{{product._id}}" class="btn btn-default" role="button">Details</a>
            </p>
          </div>
        </div>
      </div>


</div>
</div>

<!-- <div class="row">
  <fieldset>
    <h2>Item list</h2>
      <table class="table table-hover">
          <thead>
          <tr>
              <th>Product name</th><th>Description</th><th>Quantity</th>
              <th>Price</th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td>
                  Banana
                  <input type="hidden" name="product_name" value="banana">
              </td>
              <td>Mmmm yummy fresh banana</td>
              <td>
                  <input type="number" data-price="1.99" name="quantity"
                    value="0" min="0" max="999">
              </td>
              <td>$1.99</td>
          </tr>
          <tr>
              <td>
                  Strawberry
                  <input type="hidden" name="product_name" value="strawberry">
              </td>
              <td>Mmmm yummy fresh strawberries!! </td>
              <td>
                  <input type="number" data-price="0.99" name="quantity"
                    value="0" min="0" max="999">
              </td>
              <td>$0.99</td>
          </tr>
          <tr>
              <td>
                  Potato
                  <input type="hidden" name="product_name" value="potato">
              </td>
              <td>Mmmm yummy little potato!</td>
              <td>
                  <input type="number" data-price="0.99" name="quantity"
                    value="0" min="0" max="999">
              </td>
              <td>$0.99</td>
          </tr>
          <tr>
              <td>
                  Pizza
                  <input type="hidden" name="product_name" value="pizza">
              </td>
              <td>Mmmm yummy home made pizza from italian chef</td>
              <td>
                  <input type="number" data-price="9.99" name="quantity"
                    value="0" min="0" max="999">
              </td>
              <td>$9.99</td>
          </tr>
          <tr>
              <td>
                  Salmon
                  <input type="hidden" name="product_name" value="salmon">
              </td>
              <td>Mmmm yummy fresh fish</td>
              <td>
                  <input type="number" data-price="14.99" name="quantity"
                    value="0" min="0" max="999">
              </td>
              <td>$14.99</td>
          </tr>
          <tr>
              <td>
                  Beef steak
                  <input type="hidden" name="product_name" value="beef_steak">
              </td>
              <td>Mmmm yummy meaty beef steak!</td>
              <td>
                  <input type="number" data-price="23.99" name="quantity"
                    value="0" min="0" max="999">
              </td>
              <td>$23.99</td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
              <td colspan="4">Order Total</td>
              <td>
                  <output name="order_total" id="order_total">$0.00</output>
              </td>
          </tr>
          </tfoot>
      </table>
  </fieldset>
</div> -->
