<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-show="products.length < 1"> There is not product to display</div>
    <div class="col-sm-6 col-md-4" ng-repeat="product in products">
      <div class="thumbnail">
        <a href="#productModal" class="store-link" data-toggle="modal">
        <img src="http://placehold.it/300x200" alt="{{product.title}}">
      </a>
        <div class="caption">
          <h3>{{product.title}}</h3>
          <p>{{product.description | limitTo: 200}} ...</p>
          <p><strong>{{product.price | currency }}</strong></p>
          <p>
            <a href="#" class="btn btn-primary" role="button">Add to cart</a>
            <a href="/product_details/{{product._id}}" class="btn btn-default" role="button">Details</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-form modal fade" id="productModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="product-name">OVERWATCH</h2>
                            <p>Game of the Year.</p>
                            <img src="./img/overwatch_full.jpg" alt="" class="img-product">
                            <p>
                            <li>Blizzard's new game !</li>
                            <li>Awesome Online multiplayer FPS. Join the battlefield !</li>
                            </p>
                            <h3>Price : 39$</h3><br>
                            <button type="button" class="btn btn-success" data-dismiss="modal"><i></i>Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
