<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-show="products.length < 1"> There is not product to display</div>
    <a ui-sref="newProduct">New Product</a>
    <div class="col-sm-6 col-md-4" ng-repeat="product in products">
      <div class="thumbnail">
        <img src="http://placehold.it/300x200" alt="{{product.title}}">
        <div class="caption">
          <h3>{{product.title}}</h3>
          <p>{{product.description | limitTo: 200}} ...</p>
          <p><strong>{{product.price | currency }}</strong></p>
          <p>
            <a href="#" class="btn btn-primary" role="button">Add to cart</a>
            <a href="/product_details/{{product._id}}" class="btn btn-default" role="button">Details</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
