<div class="container">
        <form class="form-horizontal">

        <!-- Form Name -->
        <h1>{{tagline}}</h1>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="username">Username</label>
          <div class="col-md-4">
          <input id="username" name="username" type="text" placeholder="Enter your username" class="form-control input-md" required="">

          </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="password">Password</label>
          <div class="col-md-4">
            <input id="password" name="password" type="password" placeholder="Enter your password" class="form-control input-md" required="">

          </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="password-confirm">Password confirmation</label>
          <div class="col-md-4">
            <input id="password-confirm" name="password-confirm" type="password" placeholder="Confirm your password" class="form-control input-md" required="">

          </div>
        </div>

        <!-- Multiple Radios -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="account-type">Account type</label>
          <div class="col-md-4">
          <div class="radio">
            <label for="account-type-0">
              <input type="radio" name="account-type" id="account-type-0" value="1" checked="checked">
              Seller
            </label>
        	</div>
          <div class="radio">
            <label for="account-type-1">
              <input type="radio" name="account-type" id="account-type-1" value="2">
              Client
            </label>
        	</div>
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="register-btn"></label>
          <div class="col-md-4">
            <button id="register-btn" name="register-btn" class="btn btn-primary">Register</button>
          </div>
        </div>
        </form>
      </div>
